@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h4 {
  font-size: 6rem;
  text-align: justify;
  font-weight: 700;
}

.btn {
  border: 0 none transparent;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 60px 0;
  padding: 15px 54px 17px 53px;
  text-decoration: none;
  border-radius: 50px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}
#header {
  height: 80px;
  background-color: #f1ae0e;
}
#header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header nav {
  width: 50%;
  display: block;
}
#header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header nav a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}
#header nav a:hover {
  text-decoration: underline;
}
#header .menu-icon {
  display: none;
}

#main {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url("../images/young-successful-businessman-correcting-tie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
}
#main .container {
  height: calc(100vh - 80px);
}
#main .intro {
  width: 60%;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#main h4 {
  font-size: 6rem;
  text-align: justify;
  font-weight: 700;
  margin: 200px 630px 50px 0;
  color: #f1ae0e;
}
#main p {
  word-spacing: 3px;
  line-height: 1.6;
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
}
#main span {
  text-transform: lowercase;
}
#main span a {
  color: #f1ae0e;
  text-transform: uppercase;
  text-decoration: none;
}
#main span a:hover {
  color: rgb(255, 194, 80);
}
#main .btn {
  border: 0 none transparent;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 60px 0;
  padding: 15px 54px 17px 53px;
  text-decoration: none;
  border-radius: 50px;
  background-color: #f1ae0e;
  color: #ffffff;
  transition: all 0.2s ease;
}
#main .btn:hover {
  background-color: rgb(255, 195, 85);
}
#main .title {
  grid-column: 1/4;
}
#main .title span:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}
#main .title span:nth-child(1) a {
  color: #f1ae0e;
}

#first-banner {
  display: grid;
  background-color: #1a1a1a;
}
#first-banner::before {
  content: "";
  display: table;
}
#first-banner .container {
  grid-column: 1/4;
}
#first-banner h2 {
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 60px auto;
  line-height: 10px;
}
#first-banner p {
  color: #ffffff;
  line-height: 30px;
  margin-bottom: 30px;
}
#first-banner .weprovide-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 500px;
  grid-gap: 20px;
  padding: 0 80px;
  margin-left: 352px;
}
#first-banner .banner1 {
  background-image: url("../images/top-view-image-motivated-employees-working-together-office-official-meeting-concept-business.jpg");
  background-size: cover;
  background-position: left;
  margin-bottom: 50px;
  padding: 57px 30px;
}
#first-banner .banner2 {
  background-color: #f1ae0e;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  padding: 57px 30px;
}
#first-banner .banner3 {
  background-image: url("../images/front-view-team-meeting-mock-up.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  padding: 57px 30px;
}
#first-banner ul {
  margin: 21px auto 0 0;
  padding-left: 20px;
}
#first-banner img {
  border-radius: 50%;
  height: 15vh;
  padding: 10px;
}
#first-banner h5 {
  color: #ffffff;
  font-weight: 700;
  margin: 32px auto 0 0;
  font-size: 1.45rem;
}
#first-banner ul {
  color: #ffffff;
  font-size: 1rem;
}
#first-banner li {
  margin-bottom: 15px;
}

#callus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1ae0e;
  flex-wrap: wrap;
  background-position: 20% 50%;
}
#callus .text {
  margin: 50px;
  margin-left: 390px;
  padding: 50px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}
#callus .btn {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 0 390px 0 auto;
  padding: 30px 49px 30px 47px;
  border-radius: 50px;
  background-color: #1a1a1a;
  color: #ffffff;
  transition: all 0.2s ease;
}
#callus .btn:hover {
  color: rgb(255, 195, 85);
}

#carousel-grid {
  padding: 70px 0;
  background-color: #1a1a1a;
}
#carousel-grid .our-carousel-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  text-align: center;
}
#carousel-grid .card {
  margin-top: 50px;
}
#carousel-grid h3 {
  color: #ffffff;
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
#carousel-grid p {
  color: #ffffff;
  line-height: 1.64;
  margin: 30px 0 0;
  text-align: left;
}
#carousel-grid .thumbnail {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#carousel-grid .photos-carousel-grid {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  text-align: center;
}
#carousel-grid .photos {
  width: 270px;
  height: 270px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#carousel-grid .text {
  text-align: center;
  margin-top: 50px;
}
#carousel-grid p {
  font-size: 1rem;
}
#carousel-grid p a {
  color: #f1ae0e;
  text-decoration: none;
}

#busines-people {
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/silhouette-business-people-discussion-meeting-cityscape-team-concept.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
#busines-people::before {
  content: "";
  display: table;
}
#busines-people .intense h3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 70px 429px 0 0;
  color: #ffffff;
}
#busines-people .intense p {
  text-align: left;
  font-size: 1.1rem;
  margin: 38px auto 0 0;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
}
#busines-people p {
  margin-top: 30px;
  color: #ffffff;
  padding-bottom: 40px;
}
#busines-people p a {
  color: #f1ae0e;
  text-decoration: none;
}

#peoples {
  background-color: #1a1a1a;
}
#peoples .our-peoples-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  text-align: center;
}
#peoples .id-photo {
  padding-top: 100px;
  margin: 0 auto 0 0;
}
#peoples .thumbnail {
  height: 223px;
  width: 223px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 20px;
}
#peoples .thumbnail2 {
  height: 223px;
  width: 223px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 24.89% 50%;
  padding: 20px;
}
#peoples .thumbnail6 {
  height: 223px;
  width: 223px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 97.05% 50%;
  padding: 20px;
}
#peoples .thumbnail7 {
  height: 223px;
  width: 223px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
  padding: 20px;
}
#peoples .thumbnail8 {
  height: 223px;
  width: 223px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
  padding: 20px;
}
#peoples h3 {
  text-align: left;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px auto 0 0;
}
#peoples .icon {
  text-align: left;
}
#peoples .fa-facebook {
  text-decoration: none;
  color: #f1ae0e;
  font-size: 2.2rem;
  margin-right: 20px;
  text-align: left;
}
#peoples .fa-facebook:hover {
  color: rgb(255, 190, 69);
}
#peoples .fa-twitter {
  text-decoration: none;
  color: #f1ae0e;
  font-size: 2.2rem;
  margin: 30px auto 0 0;
  text-align: left;
}
#peoples .fa-twitter:hover {
  color: rgb(255, 190, 69);
}
#peoples p {
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}
#peoples p a {
  color: #ffffff;
  text-decoration: none;
}
#peoples p a:hover {
  color: rgb(215, 215, 215);
}

#quotes {
  background-color: #f1ae0e;
  height: 650px;
}
#quotes::before {
  content: "";
  display: table;
}
#quotes .u-container-style {
  width: 622px;
  min-height: 552px;
  height: auto;
  margin: 60px auto 0 0;
}
#quotes .first-p1 {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#quotes .first-p1 p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 0;
}
#quotes .first-p1 .p1 {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 2.2;
  margin: 20px 0 0;
}
#quotes .first-our-grid {
  display: flex;
  flex-direction: column;
  width: 505px;
  margin: -552px 0 -42px auto;
}
#quotes .first-our-grid .first-our-grid1 {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  min-height: 552px;
  grid-gap: 30px;
}
#quotes .first-our-grid .first-p2 {
  text-align: left;
  background-color: #ffffff;
  color: black;
  padding: 20px 30px;
}
#quotes .first-our-grid img {
  width: 33px;
  height: 33px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#quotes .first-our-grid h3 {
  font-weight: 700;
  margin: 13px 92px 0 0;
  font-family: "Montserrat", sans-serif;
}
#quotes .btn {
  border: 0 none transparent;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 60px 0;
  padding: 15px 54px 17px 53px;
  text-decoration: none;
  border-radius: 50px;
  background-color: black;
  color: #ffffff;
  transition: all 0.2s ease;
}
#quotes .btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
#quotes .firstp1-grid p {
  font-family: "Open Sans", sans-serif;
}

#the-future {
  background-color: #1a1a1a;
}
#the-future::before {
  content: "";
  display: table;
}
#the-future .text-future {
  text-align: left;
}
#the-future .text-future h3 {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 60px 46px 0 56px;
}
#the-future .text-future p {
  color: #ffffff;
  margin: 20px 46px 0 46px;
  font-family: "Open Sans", sans-serif;
}
#the-future .nummbers-group-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#the-future .nummbers-group-grid .nummbers-group {
  padding-top: 100px;
  text-align: left;
  margin-left: 50px;
}
#the-future .nummbers-group-grid .nummbers-group h2 {
  color: #ffffff;
  margin-top: 30px;
  padding-bottom: 50px;
  font-size: 1.25rem;
}
#the-future .thumbnail {
  width: 196px;
  min-height: 196px;
  height: auto;
  padding: 30px;
  border-radius: 50%;
  background-position: center top;
}

#contactus {
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
#contactus .container {
  height: calc(100vh - 80px);
}
#contactus::before {
  content: "";
  display: table;
}
#contactus .u-contact-style {
  width: 622px;
  min-height: 552px;
  height: 622px;
  margin: 60px auto 0 0;
}
#contactus .first-c1 {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#contactus .first-c1 h2 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 700;
}
#contactus .first-c1 h4 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 30px;
}
#contactus .first-c1 .copyrights {
  margin-bottom: 80px;
}
#contactus .first-c1 .copyrights a {
  text-decoration: none;
  color: #ffffff;
}
#contactus .first-c1 .copyrights a:hover {
  color: rgb(201, 201, 201);
}
#contactus .first-c1 p {
  color: #ffffff;
  margin-bottom: 40px;
}
#contactus .first-c1 address {
  color: #ffffff;
  margin-bottom: 40px;
}
#contactus .form-our-grid {
  display: flex;
  flex-direction: column;
  width: 505px;
  margin: -552px 0 -42px auto;
}
#contactus form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  color: #ffffff;
  font-weight: 700;
  margin-left: -30px;
}
#contactus .border {
  border: 0px;
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  border-radius: 3px;
  margin-right: 25px;
  color: inherit;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#contactus .bordera {
  width: 405px;
  border: 0px;
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  border-radius: 3px;
  margin-right: 25px;
  color: inherit;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
}
#contactus input {
  border-bottom: 2px solid #ffffff;
}
#contactus .addres {
  margin-top: 20px;
  margin-bottom: 20px;
}
#contactus .btn {
  text-align: center;
  width: 418px;
  border: 0 none transparent;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px auto 60px 0;
  padding: 15px 54px 17px 53px;
  text-decoration: none;
  border-radius: 50px;
  background-color: #f1ae0e;
  color: #ffffff;
  transition: all 0.2s ease;
}
#contactus .btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

footer {
  background-color: #1a1a1a;
  height: 50%;
}
footer::before {
  content: "";
  display: table;
}
footer .text {
  text-align: center;
}
footer p {
  margin-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
}

@media screen and (max-width: 650px) {
  #header {
    height: 80px;
    background-color: #f1ae0e;
  }
  #header .menu-icon {
    display: block;
    width: 61px;
    height: 31px;
    background-image: url("../images/menu.iconi1.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  #header .menu-icon:hover {
    background-image: url("../images/menu-icon-hover.png");
  }
  #header .container {
    width: 90%;
    margin: 0 auto;
  }
  #header nav {
    display: none;
  }
  #main {
    height: auto;
    background-position: 49.22% 50%;
  }
  #main .container {
    height: auto;
  }
  #main h4 {
    font-size: 3.75rem;
    width: 340px;
    text-align: justify;
    margin-left: 50px;
  }
  #main p {
    margin-left: 60px;
    width: 50%;
  }
  #main span {
    margin-left: 60px;
  }
  #main .btn {
    margin-left: 60px;
    margin-bottom: 40px;
  }
  #main .intro {
    width: 100%;
    height: 100vh;
    grid-template-rows: repeat(3, 1fr);
  }
  #first-banner {
    display: grid;
    background-color: #1a1a1a;
  }
  #first-banner::before {
    content: "";
    display: table;
  }
  #first-banner .container {
    grid-column: 1/4;
    margin: 0 auto;
  }
  #first-banner h2 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 60px auto 0 0;
    line-height: 1.1;
    margin-left: 60px;
  }
  #first-banner p {
    margin-left: 60px;
    width: 60%;
  }
  #first-banner .weprovide-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-height: 500px;
    grid-gap: 20px;
    padding: 0 50px;
    margin-left: 1px;
    width: 400px;
  }
  #callus {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    background-color: #f1ae0e;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  #callus .text {
    margin-left: 20px;
  }
  #callus .text h2 {
    font-size: 1.25rem;
  }
  #callus .btn {
    margin: 0 auto;
    padding: 25px 11px 25px 11px;
  }
  #carousel-grid .our-carousel-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  #carousel-grid .card {
    margin-top: 50px;
    margin: 0 auto;
  }
  #carousel-grid h3 {
    color: #ffffff;
    font-size: 1.25rem;
    text-transform: none;
    line-height: 28.8px;
    font-weight: 700;
    margin: 14px 0 0;
    text-align: left;
    font-family: "Montserrat", sans-serif;
  }
  #carousel-grid p {
    color: #ffffff;
    line-height: 1.64;
    margin: 30px 0 0;
    text-align: left;
    justify-content: center;
  }
  #carousel-grid .photos-carousel-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: 0 auto;
    padding-top: 50px;
  }
  #carousel-grid .photos {
    margin: 0 auto;
    width: 314px;
    height: 180px;
  }
  #carousel-grid .text {
    margin: 0 auto;
  }
  #carousel-grid .text h3 {
    margin-left: 50px;
  }
  #carousel-grid .text p {
    margin-left: 50px;
  }
  #busines-people .intense h3 {
    font-size: 1.5rem;
    margin: 0 auto;
    margin: 70px 49px 0 49px;
  }
  #busines-people .intense p {
    font-size: 1rem;
    margin: 70px 49px 0 49px;
  }
  #busines-people p {
    margin-top: 30px;
    margin-left: 49px;
    color: #ffffff;
    padding-bottom: 40px;
  }
  #busines-people p a {
    color: #f1ae0e;
    text-decoration: none;
  }
  #peoples .our-peoples-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-left: 80px;
  }
  #peoples p {
    margin-left: 80px;
  }
  #quotes {
    background-color: #f1ae0e;
    height: 1320px;
  }
  #quotes::before {
    content: "";
    display: table;
  }
  #quotes .u-container-style {
    width: 622px;
    min-height: 552px;
    height: auto;
    margin: 60px auto 0 0;
  }
  #quotes .first-p1 {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  #quotes .first-p1 p {
    width: 40%;
    font-size: 1rem;
    margin-left: 60px;
  }
  #quotes .first-p1 .p1 {
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.8;
    margin-left: 62px;
    width: 40%;
  }
  #quotes .first-our-grid {
    display: flex;
    flex-direction: column;
    width: 155px;
    margin: -5px 0 -42px 5px;
  }
  #quotes .first-our-grid .first-our-grid1 {
    grid-template-columns: repeat(1, 100%);
  }
  #quotes .first-our-grid .first-p2 {
    text-align: left;
    background-color: #ffffff;
    color: black;
    padding: 20px 30px;
    width: 306px;
    margin-left: 40px;
  }
  #quotes .btn {
    margin-left: 52px;
    padding: 17px 45px 18px 44px;
  }
  #the-future {
    background-color: #1a1a1a;
  }
  #the-future::before {
    content: "";
    display: table;
  }
  #the-future .text-future {
    text-align: left;
  }
  #the-future .text-future h3 {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 60px 46px 0 46px;
  }
  #the-future .text-future p {
    color: #ffffff;
    margin: 20px 46px 0 46px;
    font-family: "Open Sans", sans-serif;
  }
  #the-future .nummbers-group-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #the-future .nummbers-group-grid .nummbers-group {
    padding-top: 100px;
    text-align: left;
    margin-left: 50px;
  }
  #the-future .nummbers-group-grid .nummbers-group h2 {
    color: #ffffff;
    margin-top: 30px;
    padding-bottom: 50px;
    font-size: 1.25rem;
  }
  #the-future .thumbnail {
    width: 196px;
    min-height: 196px;
    height: auto;
    padding: 30px;
    border-radius: 50%;
    background-position: center top;
  }
  #contactus {
    position: relative;
    height: 1200px;
  }
  #contactus .container {
    height: calc(100vh - 80px);
  }
  #contactus::before {
    content: "";
    display: table;
  }
  #contactus .u-contact-style {
    width: 622px;
    min-height: 552px;
    height: 622px;
    margin: 60px auto 0 0;
  }
  #contactus .first-c1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 40px;
  }
  #contactus .first-c1 p {
    width: 40%;
    font-size: 0.9rem;
    margin-left: 50px;
  }
  #contactus .first-c1 h2 {
    font-size: 1.25rem;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 700;
    margin-left: 50px;
  }
  #contactus .first-c1 h4 {
    font-size: 1rem;
    margin-left: 50px;
  }
  #contactus .first-c1 .copyrights {
    margin-bottom: 80px;
  }
  #contactus .first-c1 .copyrights a {
    text-decoration: none;
    color: #ffffff;
  }
  #contactus .first-c1 .copyrights a:hover {
    color: rgb(201, 201, 201);
  }
  #contactus .first-c1 p {
    color: #ffffff;
    margin-bottom: 40px;
  }
  #contactus .first-c1 address {
    font-size: 0.9rem;
    margin-left: 50px;
    width: 40%;
  }
  #contactus .form-our-grid {
    display: flex;
    flex-direction: column;
    width: 505px;
    margin: -552px 0 -42px auto;
  }
  #contactus form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
    font-weight: 700;
    margin-left: -132px;
    margin-right: 200px;
    margin-top: 440px;
  }
  #contactus .border {
    border: 0px;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    border-radius: 3px;
    margin-right: 25px;
    color: inherit;
    font-weight: 200;
    font-family: "Open Sans", sans-serif;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  #contactus .bordera {
    width: 190px;
    border: 0px;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    border-radius: 3px;
    margin-right: 25px;
    color: inherit;
    font-weight: 200;
    font-family: "Open Sans", sans-serif;
  }
  #contactus input {
    border-bottom: 2px solid #ffffff;
  }
  #contactus .addres {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #contactus .btn {
    text-align: center;
    width: 220px;
    border: 0 none transparent;
    margin-left: 200px;
  }
}/*# sourceMappingURL=style.css.map */